/*Button {*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 1, 2);*/
/*    -fx-border-color: white;*/
/*    -fx-border-width: 0.5px;*/
/*}*/

/*#btnAddCustomer {*/
/*    -fx-background-color: linear-gradient(#DBFEFC 75%, white 25%) no-repeat;*/
/*}*/
/*#btnSearch {*/
/*    -fx-background-color: linear-gradient(#DBF1FE 75%, white 25%) no-repeat;*/
/*}*/

.combo-box:disabled,
.text-field:disabled,
.text-area:disabled {
  -fx-background-color: #f6f8fa;
  -fx-border-color: #d0d7de;
  -fx-border-radius: 4;
  -fx-opacity: 1;
}

.date-picker:disabled,
.date-picker > .date-picker-text-field:disabled,
.date-picker > .date-picker-display-node:disabled,
.label:disabled,
.check-box:disabled,
.check-box > .box:disabled {
  -fx-opacity: 1;
}

.popup-pane {
  -fx-background-radius: 20px;
  -fx-border-color: #d0d7de;
  -fx-background-color: #f6f8fa;
  -fx-border-radius: 20px;
}

.input {
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-text-fill: #6d7175;
  -fx-prompt-text-fill: #6d7175;
  -fx-border-color: #d0d7de;
  -fx-background-color: white;
}

.combo-box {
  -fx-background-color: white;
}

.check-box {
  -fx-text-fill: #6d7175;
}

.popup-button {
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.cancel {
  -fx-background-image: url("../images/popup/cross.png");
  -fx-background-size: 45%;
}

.save {
  -fx-background-image: url("../images/popup/tick.png");
  -fx-background-size: 55%;
}